<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>My App</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="style/framework7.ios.min.css">
    <link rel="stylesheet" href="style/framework7.ios.colors.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="style/my-app.css">
	<style>
		.bColor{
			background: #FFBC00 !important;
		}
    .bOpacity{
      opacity: 0.4 !important;
    }
	</style>
  </head>
  <body>
    
    <!-- Views-->
    <div class="views" id="about">
      <!-- Your main view, should have "view-main" class-->
      <div class="view view-main">
        <!-- Top Navbar-->
        <div class="navbar">
          <div class="navbar-inner">
            <div class="left" @click="black()">
              <a href="#" class="back link"> <img src="img/ARROW.png" width="16" height="16" alt="" /></a>
            </div>
            <div class="center sliding f18">Select items</div>
            <div class="right" @click="black()">
              <a href="#" class="link icon-only f18"> Done</a>
            </div>
          </div>
        </div>
        <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through ">
          <!-- Page, data-page contains page name-->
          <div data-page="index" class="page">
            <!-- Scrollable page content-->
            <div class="page-content" style="padding-bottom: 44px;">
              <div class="head">
                <div class="textCenter tq">
                  <img src="img/WEATHER.png" width="50" height="" alt="">
                  <p class="text">Outside: <span>26°</span></p>
                  <p class="pImg" disabled="true">
                  	<a href="#" class="button button-round active">
                  		<img src="img/qw-switch.png" width="14" height="15" alt="" />ON
                  	</a>
                  	<span disabled="true"><img src="img/timer.png" width="14" height="16" alt="" /></span>
                  </p>
                </div>
              </div>
              <div class="content">
              	<div class="tr">
              		<div class="td" v-for="item in trData">
                		<div :class="{bOpacity: item.Op}"><span class="imgB"  :class="{bColor: item.fTr}" v-text="item.du" >27°</span></div>
                		<span v-text="item.title" :class="{bOpacity: item.Op}">Living room</span>
                		<span v-text="item.time" :class="{bOpacity: item.Op}">Now 25°</span>
              			<label class="label-checkbox item-content">
								        <input type="checkbox" name="my-checkbox" v-model="item.checkBox" value="Movies">
								        <div class="item-media">                      
								          <i class="icon icon-form-checkbox"></i>
								        </div>
								    </label>
              		</div>
              	</div>
              </div>
            </div>
            <div class="toolbar tabbar tabbar-labels">
		        <div class="toolbar-inner">
		        	<a href="#view-1" class="tab-link" style="padding-top: 10px;"> 
		        		<img src="img/RENAME.png" onclick="alert()" width="18" height="19" alt="" />
		        		<span class="tabbar-label" onclick="alert()">Rename</span>
		        	</a>
		        	<a href="#" @click="hide()" class="tab-link" style="padding-top: 10px;">
		        		<img src="img/HIDE.png" width="18" height="19" alt="" />
		        		<span class="tabbar-label">Hide</span>
		        	</a>
		        	<a href="#" @click="addTag()" class="tab-link" style="padding-top: 10px;"> 
		        		<img src="img/ADDTAG.png" width="18" height="19" alt="" />
		        		<span class="tabbar-label">Add tag</span>
		        	</a>
		        </div>
		      </div>
          </div>
        </div>
        
      </div>
    </div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="style/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="style/my-app.js"></script>
    
    <script>
    		var demo = new Vue({
    			el:'#about',
    			data:{
    				disB: 1,
    				arrList:[],
    				trData:[
    					{
    						du:'27°',
    						title:'Living room',
    						time:'Now 25°',
    						checkBox: false,
    						fTr: false,
                Op: false
    					},
    					{
    						du:'27°',
    						title:'Dining room',
    						time:'Now 26°',
    						checkBox: false,
    						fTr: false,
                Op: false
    					},
    					{
    						du:'27°',
    						title:'Kitchen',
    						time:'Now 23°',
    						checkBox: false,
    						fTr: false,
                Op: false
    					},
    					{
    						du:'27°',
    						title:'Parents room',
    						time:'Now 25°',
    						checkBox: false,
    						fTr: false,
                Op: false
    					},
    					{
    						du:'27°',
    						title:'My bedroom',
    						time:'Now 24°',
    						checkBox: false,
    						fTr: false,
                Op: false
    					}
    				]
    			},
    			methods:{
    				addTag(){
    					var _this = this;
    					var data = _this.trData;
    					console.log(data);
    					for(var i=0; i<data.length; i++){
    						if(data[i]['checkBox']){
    							data[i]['fTr'] = true;
                  data[i]['Op'] = false
    						}
    					}
    					_this.trData = data;
    				},
            hide(){
              var _this = this;
              var data = _this.trData;
              console.log(data);
              for(var i=0; i<data.length; i++){
                if(data[i]['checkBox']){
                  data[i]['Op'] = true;
                  data[i]['fTr'] = false
                }
              }
              _this.trData = data;
            },
    				black(){
    					location.href="index.html"
    				},
    				dj(){
    					location.href = 'tab.html'
    				}
    			}
    		})
        function alert(){
          myApp.prompt('Please enter the new name', 'Rename',
            function (value) {
              
            }
          );
        }
    		
    </script>
  </body>
</html>